.questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.question-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 40rem;
  position: relative;
  background-color: lightgray;
  border-radius: 3rem;
  margin: 1rem;
  padding: 0 1rem;
  text-align: center;
  justify-content: center;
}

.question-box__bookmark {
  position: absolute;
  border-radius: 20rem;
  width: 4rem;
  top: -1.5rem;
  right: 3rem;
  transform: scale(1);
  transition: transform 0.5s ease-in;
}

.question-box__bookmark:hover {
  position: absolute;
  border-radius: 20rem;
  width: 4rem;
  top: -1.5rem;
  right: 3rem;
  cursor: pointer;
  transform: scale(1.5);
}

[disabled] {
  opacity: 0.5;
}

.question-box__headline {
  border-radius: 1rem;
  background-color: white;
  margin: 3rem 13rem 1rem 13rem;
}

.question-box__question {
  font-weight: 500;
}

.question-box__answer:hover {
  width: 100%;
  background-color: skyblue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.tipp-box {
  background-color: white;
  border: 0.2rem solid skyblue;
  color: black;
  margin: 1rem 10rem 0rem 10rem;
  cursor: pointer;
}

.tipp-box__aufklapppfeil {
  transform: rotate(90deg);
  height: 2rem;
  width: 2rem;
  align-self: center;
  margin-left: 1rem;
}

.tipp-box__aufklapppfeil:hover {
  transform: scaleY(-1);
  height: 2rem;
  width: 2rem;
  align-self: center;
  margin-left: 1rem;
}

.tipp-box__icon:hover .tipp-box__text {
  display: block;
  border-top: 0.2rem lightgrey solid;
  padding-top: 0.5rem;
  margin-top: -0.1rem;
  text-align: center;
}

.tipp-box__headline {
  padding: 0.5rem;
  font-weight: bold;
}

.tipp-box__text {
  border-top: 0.2rem lightgrey solid;
  padding: 0.5rem;
  text-align: center;
}

.tag-cloud {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  justify-content: center;
}

.tag-cloud__element {
  background-color: darkblue;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.2rem;
  color: white;
  font-style: italic;
  font-weight: bold;
  font-size: 0.8rem;
}

.tag-cloud__element:nth-child(even) {
  background-color: skyblue;
  color: black;
}

.formnew {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1rem;
  background-color: lightgray;
  border-radius: 3rem;
  text-align: center;
  justify-content: center;
  padding: 1rem;
}

#formnew__newtags {
  margin-bottom: 2rem;
}

.formnew__submitbutton {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 0.2rem solid skyblue;
  padding: 0 1rem;
  margin: 0 auto;
  color: black;
  cursor: pointer;
}

.formnew__submitpfeil {
  transform: rotate(90deg);
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  align-self: center;
}

.formnew__submittext {
  font-size: 2rem;
  font-weight: bold;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: lightgray;
  border-radius: 3rem;
  color: black;
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
}

.profile__picture {
  height: 10rem;
  width: 10rem;
  border: 0.2rem solid black;
  border-radius: 20rem;
  align-self: center;
}

.profile__name {
  align-self: center;
}

.profile__description {
  margin: 2rem;
  text-align: center;
}

.profile__interestbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: lightgrey;
  border-radius: 3rem;
  margin: 0 1rem 2rem 1rem;
  justify-content: center;
  text-align: center;
}

.profile__logoutbutton {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 0.2rem solid skyblue;
  padding: 0 1rem;
  margin: 0 auto;
  color: black;
  cursor: pointer;
}

.profile__logoutpfeil {
  transform: rotate(90deg);
  height: 2rem;
  width: 2rem;
  align-self: center;
  margin-right: 1rem;
}

.profile__logouttext {
  font-size: 2rem;
  font-weight: bold;
}
