.footernav {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: skyblue;
  padding-top: 0.5rem;
  justify-content: center;
}

.footernav__image {
  height: 5rem;
  border-radius: 1rem;
  margin: 0 0.4rem;
}
